
body {
    color: rgb(80,80,80);
    margin-left: 1em;
    margin-top: 1em;
    margin-bottom: 3em;
}

a {
    text-decoration: none;
}
a {
    color: #7a9b22;
}
a:hover {
    color: darkred;
}

h3 a {
    /*color: #a2d026;*/
    display: inline-block;
    color: black;
    background-color: #effcca;
    padding: 5px;
    border: 1px solid gray;
    border-radius: 10px;
}
h3 a:hover {
    background-color: #ffe5e5;
}

h3 {
    font-size: 115%;
    display: block;
    margin-top: 1.5em;
    padding-top: 0;
    margin-bottom: 0.25em;
    padding-bottom: 0;
}


.content {
    margin-left: 2em;
    line-height: 1.3em;
    font-size: 85%;
}
.description {
    font-style: italic;
}

.scientific-domain-entry {
    display: block;
}

.selection-scientific-domain {
    display: inline-block;
    vertical-align: top;
}
.selection-application-domain {
    display: inline-block;
    vertical-align: top;
}

.container-place, .container-place-city {
    margin-left: 2em;
}

h2.title-place {
    background-color: #f0f0f0;
    border: 2px solid black;
    padding: 10px;
    border-radius: 5px;

    color: #7e7a93;
    margin-bottom: 0;
    margin-top: 0.75em;
    font-size: 120%;
}

.container-checkbox {
    display: inline-block; 
    vertical-align: top;
}
.title-city {
    font-size: 140%;
    font-style: italic;
}

.button-basic:hover {
    background: rgb(255,255,250);
}
.button-basic:active {
    background: #dbf691;
}

.dropdown-menu {
    background-color: rgba(255,255,255,0.9);
    padding: 1em;
}

#selection-listing-company {
    display: flex;
    justify-content: space-between;
}

.check-all-container {
    margin-bottom: 0.5em;
    margin-right: 3.0em;
}
.keyword-checkbox-element {
    margin-left: 0em;
}

label .question-mark {
    content:url(assets/question-mark.svg);
    width: 0.8em;
    height: 0.8em;
}
label:hover .question-mark {
    content:url(assets/question-mark-clicked.svg);
    width: 0.8em;
    height: 0.8em;
}
label:hover {
    color: blue;
}